

    <div class="container mt-2">
        <div class="row ">
            <div class="col-3 border"><strong>{{channelName}}</strong> </div>
            <div class="col-3 border"> <button (click)="showChannelName()" class="btn btn-success">Get Channel Name</button></div>
        </div>
        <div class="row">
            <div class="col-3  border"><strong>{{count}}</strong></div>
            <div class="col-3  border"><button (click)="counterIncrement()" class="btn btn-primary">Increment</button><button (click)="counterDecrement()" class="btn btn-danger">decrement</button></div>
        </div>
        <div class="row">
            <div class="col-3  border"> <input type="text"  [(ngModel)]="value" class="form-control"/></div>
            <div class="col-3  border"><button (click)="counterCustomeIncrement()" class="btn btn-info">Custome Increment</button></div>
          
        </div>
</div>





<!-- just for tag -->



