/* You can add global styles to this file, and also import other style files */
/* Post Page Class : Starts Here */
.icon-styles {
    background: black;
    border-radius: 10rem;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.header-icon-styles {
    border-radius: 10rem;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.header-site-icon-styles {
    background:  white;
    padding: 10px;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 29px;
}

.login-form-row {
    min-height: 100vh;
}

.label-style {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-form {
    padding: 10px;
    border: solid 1px gray;
    border-radius: 5px;
}

app-spinner {
    position:fixed;
    width:100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.644)
}