<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <i class="fa-solid fa-box-open header-site-icon-styles">Ngrx</i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngIf="authenticated | async">
          <i class="fa-solid fa-chart-line header-icon-styles text-uppercase" [routerLink]="['/']">Home</i>
          <!-- <a class="nav-link" [routerLink]="['/']" >Counter</a> -->
        </li>
        <li class="nav-item active" *ngIf="authenticated | async">
          <i class="fa-solid fa-calculator header-icon-styles text-uppercase" [routerLink]="['/counter']">Counter</i>
          <!-- <a class="nav-link" [routerLink]="['/']" >Counter</a> -->
        </li>
        <li class="nav-item" *ngIf="authenticated | async">
          <i class="fa-brands fa-usps header-icon-styles text-uppercase" [routerLink]="['/post']">Posts</i>
          <!-- <a class="nav-link" [routerLink]="['/post']" >Posts</a> -->
        </li>
        <li class="nav-item " *ngIf="!(authenticated | async)">
          <i class="fa-solid fa-user header-icon-styles text-uppercase" [routerLink]="['/auth/login']">Login</i>
          <!-- <a class="nav-link" [routerLink]="['/post']" >Posts</a> -->
        </li>
        <li class="nav-item" *ngIf="!(authenticated | async)">
          <i class="fa-solid fa-user-plus header-icon-styles text-uppercase" [routerLink]="['/auth/signup']">Sign Up</i>
          <!-- <a class="nav-link" [routerLink]="['/post']" >Posts</a> -->
        </li>

        <li class="nav-item" *ngIf="authenticated | async">
          <i class="fa-solid fa-right-from-bracket header-icon-styles text-uppercase" [routerLink]="['/auth/signup']">Logout</i>
          <!-- <a class="nav-link" [routerLink]="['/post']" >Posts</a> -->
        </li>

      </ul>

    </div>
  </nav>